
.add-rating-form {
  text-align: left;
  /*display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;*/
  padding: 32px;
  margin-bottom: 44px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.add-rating-title {
  text-align: center;
  margin-bottom: 16px;
}

.rating-button {
  margin-top: 24px;
}
